


<!DOCTYPE html>
<html>
<head>
<title>Home | Ruby on Rails Tutorials Sample App</title>
</head>
<body>
<div class="center jumbotron">
<h1>Welcome to the San Carlos Blog App</h1> 

<h2>This the Home Page for the <a href="http://www.railstutorial.org/">Ruby on Rails Tutorials</a>
Sample application</h2>
<%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("logo.png", alt: "USC logo"), 'http://google.com/' %>


</body>
</html>
